@import './styles/fonts.css';
@import 'tailwindcss';

@theme {
  --color-primary-blue-950: hsl(213, 96%, 18%);
  --color-primary-blue-300: hsl(228, 100%, 84%);
  --color-primary-blue-200: hsl(206, 94%, 87%);
  --color-primary-purple-600: hsl(243, 100%, 62%);
  --color-primary-red-500: hsl(354, 84%, 57%);

  --color-neutral-grey-500: hsl(231, 11%, 63%);
  --color-neutral-purple-200: hsl(229, 24%, 87%);
  --color-neutral-blue-100: hsl(218, 100%, 97%);
  --color-neutral-blue-50: hsl(231, 100%, 99%);
  --color-neutral-white: hsl(0, 100%, 100%);

  --font-ubuntu: 'Ubuntu', system-ui, sans-serif;
}

body {
  @apply font-ubuntu;
}